.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  width: 2.5rem;
}

.header {
  width: 5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 6.5rem;
  min-height: 10rem;
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  width: 5rem;
  border-top: 1px solid #ccc;
  font-size: 1.5rem;
}