{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
  ],
  "globals": {
    "__CLIENT__": false,
    "__SERVER__": false,
    "__PRODUCTION__": false,
    "__DEVELOPMENT__": false,
  },
  "rules": {
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 1,
  }
}
