{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:flowtype/recommended",
    "plugin:import/errors"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "flowtype",
    "import"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "__CLIENT__": false,
    "__DEVELOPMENT__": false,
    "__DOCKER__": false
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "global-require": "warn",
    "no-console": "warn",
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "always"],

    "react/prefer-stateless-function": "warn"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.server.js"
      }
    },
    "import/ignore": [
      "node_modules",
      "\\.(css|svg|json)$"
    ]
  }
}
