{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype",
  ],
  "globals": {
    "__CLIENT__": false,
    "__DEVELOPMENT__": false,
    "__DOCKER__": false,
  },
  "rules": {
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 1,
    "global-require": 1,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.server.js"
      }
    }
  }
}
