@import "../../client/variables.css";

.message {
  display: flex;
  margin-top: 0.25rem;
}

.avatar {
  margin-right: 0.5rem;
}

.username {
  font-weight: 700;
}

.info {
  color: var(--faint-text);
}

.time {
  font-size: 0.75rem;
  color: var(--faint-text);
}
