@import "../../../client/variables.css";

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5000;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop {
  animation-duration: 150ms;
  filter: blur(2px);
}

.modal {
  padding: 1rem;
  min-height: 10rem;
  min-width: 15rem;
  overflow-y: auto;

  border: var(--border);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  background-color: white;
}

:global(.modal-enter) {
  opacity: 0.01;
  & .modal {
    transform: scale(0.75, 0.75);
  }
}

:global(.modal-enter.modal-enter-active) {
  opacity: 1;
  transition: opacity 150ms ease-in;

  & .modal {
    transform: scale(1, 1);
    transition: transform 150ms ease-in;
  }
}

:global(.modal-leave) {
  opacity: 1;
  transform: scale(1, 1);
}

:global(.modal-leave.modal-leave-active) {
  opacity: 0.01;
  transition: opacity 150ms ease-in;

  & .modal {
    transform: scale(0.75, 0.75);
    transition: transform 150ms ease-in;
  }
}
