.gameRoom {
  flex: 1 1 auto;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
}

.playerList {
  list-style: none;
  padding: 0;

  & li {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
