@import "../client/variables.css";

.play {
  max-width: 50rem;
  flex: 1 1 auto;
}

.availableGames {
  list-style: none;
  padding: 0;

  & li {
    border: var(--border);
    border-radius: 3px;
    padding: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
