<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700' rel='stylesheet'>
    <script>window.__INITIAL_STATE__ = {{{initialState}}};</script>

    {{#if __DEVELOPMENT__}}
      <script src="http://localhost:3000/dist/client.js" defer></script>
    {{else}}
      <link href="/static/dist/style.css" rel="stylesheet"/>
      <script src="https://fb.me/react-0.14.7.min.js" defer></script>
      <script src="https://fb.me/react-dom-0.14.7.min.js" defer></script>
      <script src="https://cdn.jsdelivr.net/immutable.js/3/immutable.min.js" defer></script>
      <script src="https://cdn.jsdelivr.net/lodash/4/lodash.min.js" defer></script>
      <script src="https://cdn.jsdelivr.net/momentjs/2/moment.min.js" defer></script>
      <script src="/static/dist/client.js" defer></script>
    {{/if}}

  </head>
  <body>
    <div id="root">{{{reactString}}}</div>

    {{#if __DEVELOPMENT__}}
      <div id="dev-tools"></div>
    {{/if}}

  </body>
</html>
