<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>window.__INITIAL_STATE__ = {{{initialState}}};</script>
    <script src="http://localhost:3000/dist/client.js" defer></script>
  </head>
  <body>
    <div id="root">{{{reactString}}}</div>
    <div id="dev-tools"></div>
  </body>
</html>
