@import "../../client/variables.css";

.btn {
  appearance: none;
  border: 1px solid var(--btn-primary-hover);
  border-radius: 3px;
  padding: 0.5rem;
  min-width: 5rem;

  background-color: var(--btn-primary);
  color: white;

  &:hover,
  &:focus {
    background-color: var(--btn-primary-hover);
  }
  &:active {
    background-color: var(--btn-primary-active);
  }

  &[disabled] {
    opacity:0.5;
    &:hover {
      background-color: var(--btn-primary);
    }
  }
}
