@import "../../client/variables.css";

.btn {
  appearance: none;
  border: var(--border);
  background-color: white;

  border-radius: 3px;
  padding: 0.5rem;
  min-width: 5rem;

  &:focus,
  &:hover {
    background-color: var(--btn-default-hover);
  }
  &:active {
    background-color: var(--btn-default-active);
  }

  &[disabled] {
    opacity:0.5;
    background-color: white;
  }
}

.primary {
  color: white;
  background-color: var(--btn-primary);

  &:focus,
  &:hover {
    background-color: var(--btn-primary-hover);
  }
  &:active {
    background-color: var(--btn-primary-active);
  }
  &[disabled] {
    background-color: var(--btn-primary);
  }
}
