@import "../../client/variables.css";

.btn {
  appearance: none;
  border: var(--border);
  background-color: white;

  border-radius: 3px;
  padding: 0.5rem;

  transition-duration: 0.3s;

  &:focus,
  &:hover {
    background-color: var(--btn-default-hover);
  }
  &:active {
    background-color: var(--btn-default-active);
  }

  &[disabled] {
    opacity:0.5;
    background-color: white;
  }
}

.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.primary {
  color: white;
  border-color: var(--btn-primary);
  background-color: var(--btn-primary);

  &:focus,
  &:hover {
    border-color: var(--btn-primary-hover);
    background-color: var(--btn-primary-hover);
  }
  &:active {
    border-color: var(--btn-primary-active);
    background-color: var(--btn-primary-active);
  }
  &[disabled] {
    background-color: var(--btn-primary);
  }
}
