.s {
  height: 1.5rem;
  width: 1.5rem;
}

.m {
  height: 2.5rem;
  width: 2.5rem;
}

.gravatar {
  vertical-align: middle;
  border-radius: 15%;
}

.inline {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: -0.65rem;
  margin-bottom: -0.35rem;
}
