.s {
  height: 1.5rem;
  width: 1.5rem;
}

.m {
  height: 2.5rem;
  width: 2.5rem;
}

.gravatar {
  vertical-align: middle;
  border-radius: 15%;
}

.inline {
  margin-top: -0.60rem;
  margin-bottom: -0.40rem;
  margin-right: 0.25rem;
}
