@import "../../client/variables.css";

.margin {
  margin-bottom: 0.75rem;
}

.label {
  color: var(--darker-gray);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.textInput {
  padding: 0.5rem;
  border-top: var(--border);
  border-bottom: var(--border);

  &[disabled] {
    background-color: #f2f2f2;
    opacity: 0.5;
  }
}

.full{
  width: 100%;
  border-radius: 3px;
  border: var(--border);
}