.gameRoom {
  flex: 1 1 auto;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
}

.inProgress {
  flex: 1 1 auto;
  position: relative;
}

.gameWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.playerList {
  list-style: none;
  padding: 0;

  & li {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
