@import "normalize.css/normalize";
@import "./variables.css";

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.content {
  padding: 2rem;
}
