@import "../../client/variables.css";

.section {
  max-width: 100vw;
  background-color: white;
  padding-top: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: var(--darker-gray);
}

.list {
  padding: 0;
  list-style: none;
}

.item {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: var(--border);
  }
}

.users {
  min-width: 10rem;
  padding-right: 2rem;
}
